.header {
   margin: 40px 20px 0 20px; 
   font-size: 0;
   height: 45px;
   font-family: sans-serif;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.menu-item {
    display: inline;
    margin-right: 15px;
}
ul {
    text-align: center;
}
.logo > img {
   height: 100;
}
.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
}
.actions {
    width: 15%;
}
.actions a {
    color: #67b54b;
}
.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 5px;
}

body {
    background-color: #fffbf7 ;
}

h1 {
    color: #025157;
    text-align: center;
    font-size: 60px;
    margin-bottom: 24px;
}
h4 {
    color: #46484c;
}
form, h4, p {
    text-align: center;
}
p {
    color: #8b8b8bcc;
    margin-top: 15px;
}
input, button {
    height: 30px;
}
input {
    border-radius: 5px 0px 0px 5px ;
    padding: 6px 20px;
    border: solid 1px #8b8b8bcc ;
    width: 200px;
}
button {
    border-radius: 0px 5px 5px 0px;
    padding: 6px 20px; 
    color: white;
    background-color: #025157;
    margin-left: -5px;
    border: none;
}
img {
    display: block;
    margin: auto;
}