body {
    background-color: #fffbf7 ;
}
/*barra de navegación*/
.navbar-light .nav-item .nav-link {
    color: #025157;
}
.navbar-light .navbar-toggler {
    border-color: #025157;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar {
    background-color: #fffbf7;
    font-weight: 400;
    font-family: "Slabo 30px" , serif;
    font-size: 18px;
}
.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}
.actions {
    text-align: right;
    font-size: 15px;
    font-weight: 600;
}
.actions a {
    color: #67b54b;
}
.actions > a:hover {
    color: gray;
}
.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}
/*Section Main*/
.main {
    margin-top: 220px;
    padding: 10px;
    text-align: center;
}
h1 {
    color: #025157;
    font-size: 60px;
    margin-bottom: 24px;
    font-family: "Alegreya" , serif;
}
h4 {
    font-family: "Slabo 27px" , serif;
    color: #46484c;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
/*Boton del main*/
.signup-form input {
    border-radius: 8px 0px 0px 8px ;
    padding: 6px 20px;
    border: solid 1px #8b8b8bcc ;
    width: 60%;
    max-width: 250px;
    height: 53px;
}
.signup-form button {
    border-radius: 0px 8px 8px 0px;
    padding: 6px 20px;
    color: white;
    background-color: #025157;
    margin-left: -10px;
    border: none;
    height: 53px;
}
.signup-form > * {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.grey-text {
    color: #8b8b8bcc;
    margin-top: 20px;
    font-family: "Open Sans" , sans-serif;
}
/*Logo de capterra e img de publicidad*/
.intro > img {
    display: block;
    margin: auto;
}
.publicidad > img {
    vertical-align: middle;
    border-style: none;
    width: 70%;
}
.main .banner {
    margin-top: 25px;
}
/*section del video utilizando flex*/
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.explanatory-video img {
    width: 130px;
    margin-top: 10px;
}
.publish {
    flex: 1;
    padding: 15px;
}
.publish h3 {
    font-family: "Alegreya" , serif;
    color:#025157;
    font-size: 40px;
    line-height: 48px;
    margin: auto;
}
.publish .info {
    font-size: 18px;
    color: #343434;
    line-height: 1.5;
    font-family: "Commissioner" , serif;
}
.publish .info-gray {
    color: #8b8b8bcc;
    margin-top: 15px;
    font-family: "Open Sans" , sans-serif;
    font-size: 18px;
}
/*Boton del video*/
.start > * {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.start button {
    border-radius: 0px 8px 8px 0px;
    padding: 6px 20px;
    color: white;
    background-color: #025157;
    margin-left: -10px;
    border: none;
    height: 53px;
}
.start input {
    border-radius: 8px 0px 0px 8px ;
    padding: 6px 20px;
    border: solid 1px #8b8b8bcc ;
    width: 60%;
    max-width: 250px;
    height: 53px;
}
/*Usando grid*/
.features {
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    background-color: #025157;
    padding: 5% 10%;
}
.features .feature-card {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dadada;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}
.feature .feature-card .feature-content > * {
   margin-bottom: 1rem;
   margin-top: 0;
}
.features .feature-card .feature-content img {
    width: 50px;
}
.features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
    font-family: "Commissioner" , serif;
}
.features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 0;
    font-family: "Open Sans" , sans-serif;
}
.features .feature-card .feature-content a {
    font-size: 18px;
    color: #67b54b;
    font-weight: 400;
    text-decoration: none;
}
.features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
    transition: right 1s;
}
.features .feature-card .feature-image:hover {
    right: 0;
}
.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
}
/*section verde*/














/*seccion postwork hecha*/
.work {
    background-color: #fffbf7;
}
.how {
    display: block;
    text-align: center;
    margin-top: 70px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 60px;
}
.how h2 {
    font-family: "Alegreya" , serif;
    color: #025157;
    font-size: 50px;
}
.how p {
    font-size: 20px;
    color: #343434;
    line-height: 1.5;
    font-family: "Commissioner" , serif;
    margin-bottom: 20px;
}
.how a {
    color: #67b54b;
    text-decoration: none;
}
.how a:hover {
    color: gray;
}
.how button {
    background-color: #025157;
    color: #ffffff;
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 16px;
    border: none;
}

.steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 10%;
    margin-left: 10%;
}
.card-step {
    background-color: #ffffff;
    border: solid 1px #dadada;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}
.card-step .step-image {
    padding-bottom: 20px;
}
.card-step .step-image .step-bg {
    width: 100%;
    height: 100%;
    vertical-align: center;
    border-style: none;
    padding: 0px 0px;
}

.card-step .step-image .step-icon {
    margin-top: 25px;
    margin-left: 25px;
    width: 21px;
}
.card-step .step-body {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.card-step .step-body h3 {
    color: #025157;
    font-family: "Alegreya" , serif;
    font-size: 30px;
}
.card-step .step-body p {
    font-family: "Commissioner" , serif;
    color: #343434;
    text-align: left;
}
.card-step .step-body a {
    color: #67b54b;
    text-decoration: none;
}
.card-step .step-body a:hover {
    color: #025157;
}


.card-container {
    background-color: #a1d683;
    padding: 35px;
}
.comments {
    text-align: left;
}
.comments h2 {
    color: #025157;
    font-weight: bold;
    text-align: left;
    font-family: "Alegreya", serif;
    font-weight: 700;
    font-size: 51px;
    line-height: 61px;
    letter-spacing: -2px;
    color: #025157;
}
.comments .btn-beefy {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding-top: 12px;
    text-align: center;
    color: #fff;
    background: #025157;
    border-radius: 8px;
    height: 45px;
    width: 166px;
    transition: all .2s ease-in-out;
}
.comments .btn-beefy:hover {
    background-color: #67b54b;
    color: #fff;
}
.comments img {
    width: 450px;
    margin-top: 40px;
    padding-right: 10px;
}



.success-stories .stories-carousel .carousel-indicators {
    position: initial; ó: position: static;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    display: flex;
    justify-content: center;
}
.success-stories .stories-carousel .card {
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    height: 564px;
    color : #025157;
    position: relative;
}
.success-stories .stories-carousel .card .card-img-top-everly {
    background-image: url('https://getmatcha.com/wp-content/uploads/2019/05/profile-headshot-square.png');
    height: 275px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.success-stories .stories-carousel .card .card-circle-everly {
    position: absolute;
    bottom: 255px;
    right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f9da73;
    background-image: url('https://getmatcha.com/wp-content/uploads/2019/05/everly_logo_blue_v3_x60@2x.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    border: 5px solid #f9da73;
}

@media(max-width: 575px) {
    .main {
        margin-top: 130px;
    }
    .main h1 {
        font-size: 30px;
    }
    .main .signup-form > input {
        border-radius: 4px 0px 0px 4px;
        padding: 6px 6px;
        border: solid 2px #8b8b8bcc;
        width: 50%;
        max-width: 150px;
        height: 29px;
        font-family: sans-serif;
        font-size: 13px;
    }
    .main .signup-form > button {
        border-radius: 0px 4px 4px 0px;
        padding: 3px 10px;
        border: none;
        height: 29px;
        margin-left: -10px;
        font-family: sans-serif;
        font-size: 13px;
    }
    .banner > img {
        width: 100%;
    }
    .promo {
        flex-direction: column;
        max-width: 100%;
    }
    .explanatory-video > video {
        width: 100%;
    }
    .publish > form {
        flex-direction: column;
    }
    .publish > h3 {
        font-size: 25px;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    .publish > form > div {
        height: 50px;
        margin-top: 10px;
    }
    .publish > form > div > input {
        border-radius: 4px 0px 0px 4px;
        padding: 6px 6px;
        border: solid 2px #8b8b8bcc;
        width: 50%;
        max-width: 150px;
        height: 29px;
        font-family: sans-serif;
       font-size: 13px;
    }
    .publish > form > div > button {
        border-radius: 0px 4px 4px 0px;
        padding: 3px 10px;
        border: none;
        height: 29px;
        margin-left: -10px;
        font-family: sans-serif;
        font-size: 13px;
    }
    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
    }
    .feature-image {
        display: none;
    }
    /*seccion de postwork*/
    .how h2 {
        font-size: 30px;
    }
    .steps {
        display: grid;
        grid-template: repeat(4, 1fr) /1fr;
        padding-left: 0;
        padding-right: 0;
    }
    .steps .card-step {
        margin-bottom: 15px;
        display: flex;
    }
    .steps .card-step .step-image {
        width: 200px;
        order: 1;
        overflow: hidden;

    }
    .steps .card-step .step-body {
        text-align: left;
    }

}
