body {
    background-color: #fffbf7 ;
}
/*Barra de Navegación*/
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}
.header {
   margin-top: 40px;
   margin-left: 20px;
   margin-right: 20px;
   font-size: 0;
   height: 45px;
   font-family: sans-serif;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.logo > img {
    height: 80%;
 }
 /*barra de navegación*/
 .navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}
 ul {
    text-align: center;
}
.menu-item {
    display: inline;
    margin-right: 15px;
}
.menu-item:hover {
    color: gray ;
}
/*Boton de la barra de navegación*/
.actions > * {
    margin: 0 10px;
}
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
}
.actions a {
    color: #67b54b;
}
.actions a:hover {
    color: gray;
}
.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
    width: 120px;
    height: 54px;
}
/*Section Main*/
.main {
    margin-top: 220px;
    padding: 10px;
    text-align: center;
}
h1 {
    color: #025157;
    font-size: 60px;
    margin-bottom: 24px;
    font-family: "Alegreya" , serif;
}
h4 {
    font-family: "Slabo 27px" , serif;
    color: #46484c;
    font-size: 20px;
    font-weight: 400;
}
/*Boton del main*/
.signup-form input {
    border-radius: 5px 0px 0px 5px ;
    padding: 6px 20px;
    border: solid 1px #8b8b8bcc ;
    max-width: 200px;
    width: 15%;
    height: 40px;
}
.signup-form button {
    border-radius: 0px 5px 5px 0px;
    padding: 6px 20px;
    color: white;
    background-color: #025157;
    margin-left: -5px;
    width: 140px;
    height: 54px;
}
.signup-form > * {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.grey-text {
    color: #8b8b8bcc;
    margin-top: 20px;
    font-family: "Open Sans" , sans-serif;
}
/*Logo de capterra e img de publicidad*/
.intro > img {
    display: block;
    margin: auto;
}
.publicidad > img {
    vertical-align: middle;
    border-style: none;
    width: 70%;
}
/*section del video utilizando flex*/
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.explanatory-video img {
    width: 130px;
    margin-top: 10px;
}
.publish {
    flex: 1;
}
.publish h3 {
    font-family: "Alegreya" , serif;
    color:#025157;
    font-size: 40px;
    line-height: 48px;
    margin: auto;
}
.publish .info {
    font-size: 18px;
    color: #343434;
    line-height: 1.5;
    font-family: "Commissioner" , serif;
}
.publish .info-gray {
    color: #8b8b8bcc;
    margin-top: 15px;
    font-family: "Open Sans" , sans-serif;
    font-size: 18px;
}
/*Boton del video*/
.start > * {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.start button {
    border-radius: 0px 5px 5px 0px;
    padding: 6px 20px;
    color: white;
    background-color: #025157;
    margin-left: -5px;
    border: none;
    padding: 6px 20px;
    height: 54px;
}
.start input {
    border-radius: 5px 0px 0px 5px ;
    padding: 6px 20px;
    border: solid 1px #8b8b8bcc ;
    max-width: 200px;
    width: 30%;
    height: 40px;
}


